.main{
    width: 1024px;

    display: flex;
    flex-direction: row;
    gap: 50px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;

    width: 537px;
}
.white{
    color: white;
}
.purple{
    color: #C778DD;
}
.detail{
    width: 537px;

    font-family: "Fira Code", monospace;
    font-size: 32px;

}
.detail1{
    width: 537px;
    height: 50px;

    font-family: "Fira Code", monospace;
    color: #ABB2BF;
}
.btn{
    width: 148px;
    height: 37px;

    border: 1px solid #C778DD;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.outline{
    width: 155px;
    height: 155px;

    position: absolute;
    top: 230px;
    right: 480px;
    z-index: 2;
    opacity: 2;
    background: transparent;


}
.MainImg{
    width: 300px;
    height: 386px;

    position: absolute;
    top: 130px;
    left: 890px;
    z-index: 1;
}
.ImgBlock{
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.Last{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.current{
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    gap: 20px;

    width: 402px;
    height: 37px;
    border: 1px solid white;

    position: absolute;
    left: 890px;
    top: 550px;
}
.BtnPurple{

    width: 16px;
    height: 16px;
    background-color: #C778DD;
    border: none;
}
.grey{
    font-family: 'Fira Code', monospace;
    font-size: 16px;
    color: #ABB2BF;
}
