.main{
    position: absolute;
    top: 2984px;
    left: -2.5px;

    width: 1366px;
    height: 208px;
    gap: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid white;
}
.footer{
    position: absolute;
    top: 32px;
    left: 170.5px;
    width: 1025px;
    height: 144px;
    gap: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.start{
    position: absolute;
    top: 0px;
    left: 0px;

    width: 1025px;
    height: 75px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo{
    width: 16px;
    height: 16px;
}
.text{
    display: flex;
    flex-direction: column;
    gap: 16px;

}
.text p{
    font-family: "Fira Code", monospace;
    font-size: 16px;
    color: white;
}
.text p span{
    font-family: "Fira Code", monospace;
    font-size: 16px;
    color: #ABB2BF;
}
.media{
    width: 112px;
    height: 75px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.media p{
    font-family: "Fira Code", monospace;
    font-size: 24px;
    color: white;
}
.logos{
    display: flex;
    flex-direction: row;
    gap: 8px;
}
.logos img{
    width: 25px;
    height: 20px;
    cursor: pointer;
}